[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
	pager = less -x4
	whitespace = cr-at-eol
[user]
	name = baby_gang
	email = 1176948+babygang@users.noreply.github.com
[rebase]
	autosquash = true
[diff "json"]
  textconv = "ruby -r json -e 'jj JSON(ARGF.read)'"
[alias]
  delete-merged-branches = !git branch --merged | grep -vE '^\\*|master$|develop$' | xargs -I % git branch -d %
[diff "image"]
	command = /usr/local/bin/git-imgdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
